<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="{{ url('overview') }}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li>
            <a href="{{ url('abml-gimnastas') }}"><i class="fa fa-fw fa-edit"></i> Socios</a>
        </li>
        <li>
            <a href="{{ url('calendario') }}"><i class="fa fa-fw fa-calendar"></i> Calendario</a>
        </li>

    </ul>
</div>