<ul class="nav navbar-right top-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Admin <b class="caret"></b></a>
        <ul class="dropdown-menu">

                <a href="logout"><i class="fa fa-fw fa-power-off"></i> Desloguear</a>
            </li>
        </ul>
    </li>
</ul>